@page
@model Klinker.Home.Identity.Web.Pages.Setup

@{
    ViewData["Title"] = "Initial Setup";
}

<form method="post">
    <label asp-for="ViewModel.Username">Admin Username: </label>
    <input type="text" asp-for="ViewModel.Username"/>
    <label asp-for="ViewModel.Password">Admin Password: </label>
    <input type="password" asp-for="ViewModel.Password"/>
    <button type="submit">Submit</button>
</form>