<!DOCTYPE html>
<html lang="en" class="flex flex-row dark h-full w-full">
<head>
    <link rel="stylesheet" href="~/css/main.min.css"/>
    <title>@ViewData["Title"]: Klinker Identity</title>
</head>
<body class="flex flex-col bg-white h-full w-full">
<partial name="_Navbar"/>

<div class="container px-8 flex grow flex-col">
    @RenderBody()
</div>
</body>
</html>