name: Continuous Integration
on:
  push:
    branches:
      - main

jobs: 
  continuous_integration:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.x.x'
          
      - run: dotnet tool restore
        name: Restore Tools

      - run: dotnet restore
        name: Restore Packages

      - run: dotnet build --no-restore
        name: Build Solution
        
      - run: pwsh bin/Debug/net7.0/playwright.ps1 install
        name: Install Playwright Browsers
        working-directory: identity/Klinker.Home.Identity.Web.Tests

      - run: dotnet test --no-restore --collect:"XPlat Code Coverage" --results-directory "./test-results"
        name: Run Unit Tests

      - run: dotnet tool run reportgenerator
        name: Generate Coverage Rerport

      - name: Upload coverage report artifact
        uses: actions/upload-artifact@v2.2.3
        with:
          name: CoverageReport # Artifact name        
          path: coveragereport